<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Our app needs access to camera to scan barcodes.</string>
	<key>NSFileProviderPresenceUsageDescription</key>
	<string>Our app needs access to your files to import CSV files.</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
